.sup {
    position: relative; 
    padding: 25px 30px;
    margin: 40px 0;
    color: #c9246f;
    background-color: rgb(21, 1, 40);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    text-shadow: 0 0 5px #c9246f, 0 0 10px #c9246f, 0 0 15px #c9246f; 
}

.sup:hover {
    background: #c9246f;
    color: #050801 !important;
    box-shadow: 0 0 5px #c9246f, 0 0 10px #c9246f, 0 0 20px #c9246f;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    text-shadow: 0 0 10px #c9246f, 0 0 20px #c9246f, 0 0 30px #c9246f; 
}

.sup span {
    position: absolute;
    display: block;
    box-shadow: 0 0 5px #c9246f, 0 0 10px #c9246f; 
}

.sup span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #c9246f);
    animation: animate1 2s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.sup span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #c9246f);
    animation: animate2 1s infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0%, 100% {
        top: 100%;
    }
    50% {
        top: -100%;
    }
}

.sup span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #c9246f);
    animation: animate3 1s infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.sup span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #c9246f);
    animation: animate4 1s infinite;
    animation-delay: 1.5s;
}

@keyframes animate4 {
    0%, 100% {
        bottom: 100%;
    }
    50% {
        bottom: -100%;
    }
}
.nsup {
    padding: 7px 20px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative; 
    z-index: 0;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none; 
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.nsup::after {
    content: "";
    z-index: -3; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(21, 1, 40);
    left: 0;
    top: 0;
    border-radius: 8px;
}

.nsup::before {
    content: "";
    background: linear-gradient(
        45deg,
        #5b205e,
        #b578cf,
        #8e2065,
        #e04386,
        #fd82b1,
        #8e2065
    );
    position: absolute;
    top: -3px; 
    left: -3px;
    width: calc(100% + 6px); 
    height: calc(100% + 6px);
    background-size: 600%;
    z-index: -2;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.nsup:hover::before {
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.nsup span {
    position: absolute; 
    display: block;
    box-shadow: 0 0 5px #c9246f, 0 0 10px #c9246f; 
}

.nsup span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #c9246f);
    animation: animate1 4s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.nsup span:nth-child(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #c9246f);
    animation: animate2 2s infinite;
    animation-delay:1s;
}

@keyframes animate2 {
    0%, 100% {
        top: -100%;
    }
    50% {
        top: 100%;
    }
}

.nsup span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #c9246f);
    animation: animate3 2s infinite;
    animation-delay: 2s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.nsup span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #c9246f);
    animation: animate4 2s infinite;
    animation-delay: 3s;
}

@keyframes animate4 {
    0%, 100% {
        bottom: -100%;
    }
    50% {
        bottom: 100%;
    }
}

.nlg {
    padding: 7px 20px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none; 
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    background-color: rgb(21, 1, 40);
    transition: box-shadow 0.3s ease-in-out;
}

.nlg::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 10px;
    z-index: -1;
    background: linear-gradient(
        45deg,
        #5b205e,
        #b578cf,
        #8e2065,
        #e04386,
        #fd82b1,
        #8e2065
    );
    background-size: 400%;
    filter: blur(5px);
    opacity: 0.7;
    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
    animation: gradient-glow 4s linear infinite;
}

.nlg:hover::before {
    filter: blur(10px);
    opacity: 1;
}

@keyframes gradient-glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
